/**
* Ubits Classes
 */

body {
    background-color: $white !important;
}

.diagonal-green {
    background-image: linear-gradient(
            to bottom right,
            $dark-green,
            $dark-green 50%,
            $white 50%,
            $white
    );
    max-height: $diagonal-green-height;
}

.card {
    box-shadow: 0 0 8px -1px;
    border-color: $white;
    background: transparent;
    top: $card-top;
}

header.dark-green {
    height: $header-height;
    background-color: $dark-green;
}

@font-face {
    font-family: ff3;
    src: url(fonts/f3.woff) format("woff");
}

.ff3 {
    font-family: ff3, serif;
    line-height: 0.79785;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff5;
    src: url(fonts/f5.woff) format("woff");
}

.ff5 {
    font-family: ff5, serif;
    line-height: 0.994629;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

.rewow-text {
    font-family: ff3, serif;
    color: $white;
    white-space: pre;
    font-weight: 400;
    font-size: $rewow-font-size;
    margin: 1em auto
}

.fa-paw:after {
    content: " ";
}

.top-0 {
    top: 0;
}

.modal-header {
    background-color: darken($dark-green, 10);
}

.modal-header-white,
.modal-body-white,
.modal-footer-white {
    background-color: $white !important;
}

.modal-body,
.modal-footer {
    background-color: darken($light-green, 10);
}

.modal-footer {
    border-top: none !important;
}

.field-modal {
    margin: 0 auto;
    color: $white;
    font-family: ff5, serif;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    margin-top: 20px;
    width: 300px;
}

.form-check-label {
    font-family: ff5, serif;
}

.form-check-date,
.container-appointment {
    padding: 30px 0;
}

.form-check-date {
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
}

.form-check-button {
    font-family: ff5, serif;
    font-size: 18px;
}

.titleMedicalServices {
    color: $black;
    font-family: ff5, serif;
    font-size: 18px;
    text-align: right;
    font-weight: 900;
}

.form-check {
    margin-top: 15px;
}

.button-modal {
    background-color: $white;
    color: $light-green;
    font-family: ff5, serif;
    font-size: 17px;
}

.modal-content-medical-services {
    padding: 0 50px;
}

.appointment-header {
    color: $aqua-marina;
    font-family: ff5, serif;
    font-size: 20px;
    font-weight: 900;
}

.appointment-field,
.appointment-type,
.appointment-date,
.appointment-number,
.appointment-button {
    color: darken($dark-grey, 5);
    font-family: ff5, serif;
    font-size: 15px;
    padding: $padding-appointment;
}

.appointment-type:before {
    content: 'Tipo: ';
}

.appointment-date:before {
    content: 'Fecha: ';
}

.appointment-number:before {
    content: 'Número ';
}

.container-appointment {
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    width: $container-appointment-width;
}
