

/*
#sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    width: 300px;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    transition: all 0.3s;
    color: #000;
}

#sidebar .sidebar-header {
    padding: 15px;
    background: $light-green;
}

#sidebar ul.components {
    padding: 5px 0;
}

.margin_hide {
    margin-right: 20px;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1.9rem;
    }
}

.textarea_big {
    height: 350px !important;
}

.no-padding {
    padding: 0 !important;
}

.custom-switch {
    margin-right: 20px;
    text-align: right;
}

.custom-switch label {
    color: #1a1a1a;
}



*/
