// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
$black: #000;

$light-green: #7ac943;
$dark-green: #65BA69;
$dark-grey: #536D79;
$aqua-marina: #83d3bf;

$card-bg: transparent;
$header-height: 200px;
$rewow-font-size: 4.1em;
$diagonal-green-height: 160px;
$card-top: -140px;
$card-spacer-x: 1.75rem !default;
$grid-gutter-width: 20px !default;

$sidebar-rewow-font-size: 2.7em;
$sidebar-width:300px;
$sidebar-pinned-width:80px;
$sidebar-brand-height:55px;
$sidebar-footer-height:35px;
$side-bar-font-size: 1.3em;
$border-radius:4px;

$container-appointment-width: 450px !important;
$padding-appointment: 10px 0 0;
