@mixin themes($sidebar-bg-color,
$primary-color,
$primary-highlight-color,
$border-color,
$submenu-bg-color,
$menu-icon-bg-color,
$menu-icon-color,
$menu-icon-highlight-color,
$menu-header-color,
$search-input-bg-color,
$footer-bg-color,
$shadow-color,
$scrollbar-color) {
    .sidebar-wrapper {

        background-color: $sidebar-bg-color;

        .sidebar-item {

            border-top: 1px solid $border-color;

            &:first-child {
                border-top: none;
            }
        }

        a:not(.dropdown-item),
        .sidebar-header {
            color: $primary-color;
        }

        a:not(.dropdown-item):hover,
        .sidebar-menu li.active > a {
            color: $primary-highlight-color;
        }

        .sidebar-menu a:hover i,
        .sidebar-menu a:hover:before,
        .sidebar-menu li.active a i {
            color: $menu-icon-highlight-color;
            // text-shadow: 0px 0px 10px rgba($menu-icon-highlight-color, .5);
        }

        .sidebar-menu ul li a i {
            background-color: $menu-icon-bg-color;
        }


        .sidebar-menu .sidebar-dropdown div {
            background-color: $submenu-bg-color;
        }

        .sidebar-menu .header-menu span {
            color: $menu-header-color;
        }

    }

    &.toggled #close-sidebar {
        color: $primary-color;
    }

    &.toggled #close-sidebar:hover {
        color: $primary-highlight-color;
    }

    &.sidebar-bg {

        .sidebar-wrapper {
            &:before {
                background-color: lighten(rgba($sidebar-bg-color, .9), 5%);
            }

            a:not(.dropdown-item),
            .sidebar-header {
                color: lighten($primary-color, 10%);
            }

            a:not(.dropdown-item):hover,
            .sidebar-menu li.active > a {
                color: lighten($primary-highlight-color, 10%);
            }

            .sidebar-item {
                border-color: lighten($border-color, 10%);
            }

            .sidebar-menu .sidebar-dropdown div {
                background-color: lighten(rgba($submenu-bg-color, .5), 15%);
            }

            .sidebar-menu ul li a i {
                background-color: lighten(rgba($menu-icon-bg-color, .5), 15%);
            }

        }

    }
}
