.page-wrapper {
    height: 100vh;

    .page-content {

        display: inline-block;
        width: 100%;
        transition: padding-left .3s ease;
        overflow-x: hidden;

        .overlay {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 998;
            background: #000;
            opacity: .5;
            display: none;


        }
    }

    &.toggled {

        .sidebar-wrapper {
            left: 0px;
        }

        .page-content {
            @media screen and (min-width: 768px) {
                padding-left: $sidebar-width;
            }

            .overlay {

                @media screen and (max-width: 768px) {
                    display: block;
                }
            }
        }

    }

}

.sidebar-wrapper {
    width: $sidebar-width;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: -$sidebar-width;
    z-index: 999;
    transition: left .3s ease, width .3s ease;
    color: $dark-grey;
    font-family: ff5, serif;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    a {
        text-decoration: none;
        transition: color .3s ease;
    }

    .sidebar-item {
        transition: all .3s linear;
    }

    .sidebar-content {
        max-height: calc(100% -#{$sidebar-footer-height});
        height: calc(100% - #{$sidebar-footer-height});
        position: relative;

        &.desktop {
            overflow-y: hidden;
        }
    }

    .badge {
        border-radius: 0;
    }
}

.sidebar-bg .sidebar-wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.sidebar-header > .rewow-text{
    font-size: $sidebar-rewow-font-size;
}

@import "./sidebar-header";
@import "./sidebar-menu";
@import "./sidebar-footer";
