.sidebar-wrapper {

    .sidebar-footer {

        position: absolute;
        width: 100%;
        bottom: 0;
        display: flex;
        color: $dark-grey;

        > div {
            flex-grow: 1;
            text-align: center;
            height: $sidebar-footer-height;
            line-height: $sidebar-footer-height;
            position: static;
            display: flex;
            font-size: 20px;

            > a {
                flex-grow: 1;
            }

        }

        .dropdown-menu {
            bottom: 36px;
            left: 0 !important;
            top: initial !important;
            right: 0;
            transform: none !important;
            border-radius: 0;
            font-size: .9rem;
        }

    }
}
